version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mern_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: task_manager

  redis:
    image: redis:7-alpine
    container_name: mern_redis
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  mongo_data:
